body {

  background-color: #1F2937;
  color: white;
  font-size: 20px;



}

/* TOP HALF FOR  */

.app-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
font-family: "Open Sans", sans-serif;

}

#green{

  color: #10B981;
}

h2{

  font-family: Arial, Helvetica, sans-serif;
  font-weight:lighter;
  color: #D5D4D8 ;
  font-size: 20px;

}

/* BUTTON BUTTON */
#genbtn-el{

  margin: 1.5rem 0px;
  background-color: #10B981;
  padding: 1rem; 
  color: white;
  border: none;
   
  }








/* BOTTOM HALF FOR THE BUTTON   */




  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #10B981;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace

}

p{

  background-color: #ffffff;



}




