body {

  margin: 300px 100px;
  background-color: #1F2937;
  background-repeat: no-repeat;


    


}

.title {  
    text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px ;
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;



}

#gen {

    margin: 0px 0px;

}

#random{
    margin: 0px 0px;
    color: #10B981 ;
  
}

h2{

  margin: 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:lighter;
  color: #D5D4D8 ;
  font-size: 20px;

}


#genbtn-el{

margin: 80px 0px;
background-color: #10B981;
border: 0px solid #10B981;
border-radius: 10px;
padding: 10px 20px;
color: #ffffff;
font-size: 20px;
}

/* #genbtn-el:hover{

  background-color: grey;
} */


#twoPasswords{
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;

}



/* button{
  border: 2px solid #2F3E53;
border-radius: 15px;
  background-color: #2F3E53;
  padding: 10px 140px;
} */

#password1-el{

  border: 2px solid #2F3E53;
border-radius: 15px;
  background-color: #2F3E53;
  padding: 30px 140px;
color: #10B981;
font-size: 20px;
}


#password2-el{

    border: 2px solid #2F3E53;
border-radius: 15px;
  background-color: #2F3E53;
  padding: 30px 140px;
color: #10B981;
font-size: 20px;
}

